<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- 开启事务管理 -->
    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" ></property>
    </bean>

    <!-- 对不同的方法进行不同的事务管理 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!-- 对以get或find或query开头的方法，只以只读的方式进行 -->
            <tx:method name="get*" read-only="true" propagation="REQUIRED"/>
            <tx:method name="find*" read-only="true"  propagation="REQUIRED"/>
            <tx:method name="query*" read-only="true"  propagation="REQUIRED"/>
            <!-- 对以pay开头的方法，已非事务方式运行-->
            <tx:method name="pay*"  propagation="NOT_SUPPORTED"/>
            <!-- 其他的则使用开启事务的机制 -->
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!-- spring事务的xml配置 ，建议使用-->
    <aop:config>
        <aop:pointcut id="bussinessService" expression="execution(* com.hrtx.web.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="bussinessService" />
    </aop:config>

    <!--<task:scheduled-tasks>
       <task:scheduled ref="taskJob" method="job1" cron="0 0 7 * * ?"/>
    </task:scheduled-tasks>-->
</beans>