<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.AccountMapper">
    <sql id="col_list">
        a.id as id,
        a.bank_account as bankAccount ,
        a.card_bank as cardBank,
        a.subbranch_bank as subbranchBank,
        a.card_account as cardAccount,
        a.add_date as addDate,
        a.is_del as isDel
    </sql>
    <sql id="ex_col_list">
       t.key_value as cardBankName,
    </sql>

    <select id="queryPageList" resultType="Account">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_account a left  join tb_dict t on a.card_bank = t.key_id and t.key_group='brank' where  1=1 and a.is_del=0
        <if test="param.cardAccount!=null and param.cardAccount!=''">
            and  a.card_account  like "%"#{param.cardAccount}"%"
        </if>
        <if test="param.bankAccount!=null and param.bankAccount!=''">
            and a.bank_account like "%"#{param.bankAccount}"%"
        </if>
        and a.add_user_id =  #{param.addUserId}
    </select>

    <select id="findAccountListByUserId" resultType="java.util.HashMap">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_account a left  join tb_dict t on a.card_bank = t.key_id and t.key_group='brank' where  1=1 and a.is_del=0
        and a.add_user_id = #{addUserId}
    </select>

    <insert id="insertAccount">
        insert into tb_account (id,bank_account,card_bank,subbranch_bank,card_account,add_date,add_user_id,is_del)  VALUES
        <foreach collection="accountList" item="account" separator=",">
            (
            #{account.id},
            #{account.bankAccount},
            #{account.cardBank},
            #{account.subbranchBank},
            #{account.cardAccount},
            #{account.addDate},
            #{account.addUserId},
            '0'
            )
        </foreach>
    </insert>

    <update id="accountEdit">
        update tb_account a set
            a.bank_account = #{bankAccount},
            a.card_bank = #{cardBank},
            a.subbranch_bank = #{subbranchBank},
            a.card_account = #{cardAccount},
            a.add_date = #{addDate},
            a.add_user_id = #{addUserId}
        where
            a.id = #{id}
    </update>

    <select id="findAccountInfo" resultType="Account">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_account a ,tb_dict t where a.card_bank = t.key_id and t.key_group='brank' and a.is_del=0 and a.id = #{id};
    </select>

    <update id="accountDelete">
        update tb_account a set a.is_del = 1 where a.id = #{id}
    </update>

</mapper>