<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.ActivityItemMapper">

    <insert id="insertBatch">
        insert into tb_activity_item (id,activity_id,num,price,down_price,is_del)
        values
        <foreach collection="activityItemsList" item="activityItems" separator=",">
            (
            #{activityItems.id},
            #{activityItems.activityId},
            #{activityItems.num},
            #{activityItems.price},
            #{activityItems.downPrice},
            0
            )
        </foreach>
    </insert>

    <select id="findActivityItemList" resultType="java.util.HashMap">
        select m.id,m.activity_id,m.num,m.price,m.down_price from tb_activity_item m
        where m.activity_id=#{activityId}
        order by m.id
    </select>

    <update id="updateItem">
        update tb_activity_item m set
            m.is_del =1
        where m.activity_id=#{activityId}
    </update>

    <select id="isActivityNum" resultType="java.lang.Integer">
        select count(1)
        from tb_activity_item ai ,tb_activity a where ai.activity_id = a.id
        and a.`status`=1 and a.type = 1 and ai.num=#{num}
        and a.begin_date &lt;=SYSDATE()	and SYSDATE() &lt;= a.end_date
    </select>

</mapper>