<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.AgentMapper">


    <update id="updateAgent">
        update tb_agent a set
            a.commpay_name=#{commpayName},
            a.person= #{person},
            a.phone=#{phone},
            a.province=#{province},
            a.city=#{city},
            a.district =#{district},
            a.address =#{address},
            a.trading_img=#{tradingImg},
            a.status= #{status},
            a.add_consumer_id=#{addConsumerId},
            a.add_date =#{addDate},
            a.is_del=#{isDel}
        where a.id = #{id}
    </update>

    <update id="agentDelete">
        update tb_agent a set a.is_del = 1 where a.id = #{id}
    </update>


    <select id="findAgentListByConsumerId" resultType="java.util.HashMap">
        select concat(t.id,'')as id, t.commpay_name,t.person,t.phone,
        y.name as provinceName ,c.name as cityName,d.name as districtName,
        t.address,u.nick_name as userName,
        t.status as status,
        case
				when t.status =1 then '待审核'
				when t.status =2 then '审核通过'
                when t.status =3 then '审核未通过'
				else '未知'
				end as statustext,t.province as provinceId,t.city as cityId,t.district as districtId,
        DATE_FORMAT(t.add_date,'%Y-%m-%d %H:%i:%s') as adddate,t.login_name as loginName,
        t.trading_img ,t.check_remark checkRemark,t.type tyep
        from tb_agent t left join tb_city y on t.province = y.id
        left join tb_city c on t.city = c.id
        left join tb_city d on t.district = d.id
        left join tb_consumer u on t.add_consumer_id = u.id
        where t.is_del=0
        and t.add_consumer_id=#{ConsumerId}
    </select>

    <select id="queryPageList" resultType="Agent">
        select t.id id, t.commpay_name,t.person,t.phone,
        y.name as provinceName ,c.name as cityName,d.name as districtName,
        t.address,u.nick_name as userName,
        DATE_FORMAT(t.add_date,'%Y-%m-%d %H:%i:%s') as adddate,
        t.trading_img,t.status as status,
				case
				when t.status =1 then '待审核'
				when t.status =2 then '审核通过'
                when t.status =3 then '审核未通过'
				else '未知'
				end as statustext
				from tb_agent t left join tb_city y on t.province = y.id
        left join tb_city c on t.city = c.id
        left join tb_city d on t.district = d.id
        left join tb_consumer u on t.add_consumer_id = u.id
        where t.is_del=0
        <if test="param.commpayName!=null and param.commpayName!=''">
            and  t.commpay_name  like "%"#{param.commpayName}"%"
        </if>
        <if test="param.person!=null and param.person!=''">
            and t.person like "%"#{param.person}"%"
        </if>
        <if test="param.status!=-1 and param.status!=null and param.status!='' ">
            and t.status = #{param.status}
        </if>
    </select>

    <select id="findAgentById" resultType="Agent">
        select t.id as id, t.commpay_name as commpayName,t.person,t.phone,
        y.name as provinceName ,c.name as cityName,d.name as districtName,
        t.address,u.nick_name as userName,
        DATE_FORMAT(t.add_date,'%Y-%m-%d %H:%i:%s') as adddate,
        t.trading_img as tradingImg,t.status as status,t.add_consumer_id as addConsumerId,
        case
        when t.status =1 then '待审核'
        when t.status =2 then '审核通过'
        when t.status =3 then '审核未通过'
        else '未知'
        end as statustext,t.check_remark as checkRemark
        from tb_agent t left join tb_city y on t.province = y.id
        left join tb_city c on t.city = c.id
        left join tb_city d on t.district = d.id
        left join tb_consumer u on t.add_consumer_id = u.id
        where t.is_del=0 and t.id =#{id}
    </select>

    <update id="updateAgentStatus">
            update tb_agent a set a.status=#{status},
            a.check_remark=#{checkRemark}
        where a.id = #{id}
    </update>
    <update id="updateAgentStatusToLeyu">
            update tb_agent a set a.status=#{status},
            a.add_consumer_id =#{addConsumerId}
        where a.id = #{id}
    </update>
</mapper>