<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.CityMapper">
    <resultMap id="cityList" type="com.hrtx.web.pojo.City">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="fullName" property="fullName"></result>
        <result column="acronym" property="acronym"></result>
        <result column="pid" property="pid"></result>
        <result column="grade" property="grade"></result>
        <result column="zip_code" property="zip_code"></result>
        <result column="area_code" property="area_code"></result>
        <result column="seq" property="seq"></result>
    </resultMap>
    <resultMap id="cityZtree" type="java.util.HashMap">
        <result column="id" property="id"></result>
        <result column="pid" property="pId"></result>
        <result column="open" property="open"></result>
        <result column="name" property="name"></result>
        <result column="fullName" property="fullName"></result>
    </resultMap>

    <select id="queryByPidList" resultMap="cityList">
        select * from tb_city c where c.pid=#{pid}
    </select>

    <select id="queryByPidListForZtree" resultMap="cityZtree">
        select c.id, c.pid, c.name, c.full_Name, #{isopen} as open from tb_city c where 1=1
        <if test="pid!=null and pid !=''">
            and c.pid=#{pid} or c.id=#{pid}
        </if>
        and c.grade in ('1','2')
        order by id asc
    </select>

    <select id="findCityByName" resultType="com.hrtx.web.pojo.City">
        select * from tb_city c where c.name = #{name}
    </select>

    <resultMap id="thirdCityList" type="java.util.HashMap">
        <result column="city_id" property="cityId"></result>
        <result column="city_name" property="cityName"></result>
        <result column="third_id" property="thirdId"></result>
        <result column="third_name" property="thirdName"></result>
        <result column="third" property="third"></result>
    </resultMap>
    <select id="findCityByNameFromThird" resultMap="thirdCityList">
        select * from tb_third_city a where a.third_name = #{name}
    </select>
    <select id="queryByThird" resultMap="thirdCityList">
        select * from tb_third_city a where a.third = #{third}
    </select>
</mapper>