<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.ConsumerMapper">
    <update id="insertConsumer">
        update tb_consumer t set
         t.name =#{name},
         t.phone=#{phone},
         t.nick_name =#{nickName},
         t.img = #{img},
         t.province =#{province},
         t.city =#{city}
         where t.id=#{userid}
    </update>

    <update id="insertAgentToConsumer">
          update tb_consumer c set
            c.is_agent=#{isAgent},
            c.name=#{name},
            c.phone=#{phone},
            c.commpay_name=#{commpayName},
            c.agent_province=#{agentProvince},
            c.agent_city=#{agentCity},
            c.agent_district=#{agentDistrict},
            c.agent_address=#{agentAddress},
            c.trading_img=#{tradingImg}
            where c.id=#{id}
    </update>

    <select id="findConsumerById" resultType="Consumer">
	  select * from 	tb_consumer c
	  where  c.id = #{id}
    </select>

</mapper>