<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.CorporationMapper">
    <sql id="col_list">
        a.id as id,
        a.name as name,
        a.principal as principal,
        a.phone as phone,
        a.district as district,
        a.address as address,
        a.remark as remark,
        a.status as status,
        a.add_date as addDate,
        a.add_user as addUser,
        a.is_del as isDel,
        a.storage_id as storageId,
        a.company_id as companyId
    </sql>
    <select id="findCorporationInfo" resultType="Corporation">
        select
        <include refid="col_list"/>
        from tb_corporation a where a.id = #{corpId};
    </select>

    <select id="queryPageList" resultType="Corporation">
        select t.id id, t.`name` from tb_corporation t where t.is_del = 0 and t.`status` = 1
    </select>

</mapper>