<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.DictMapper">
    <sql id="col_list">
        a.id as id,
        a.key_id as keyId,
        a.key_group as keyGroup,
        a.key_value as keyValue,
        a.is_del as isDel,
        a.note as note,
        a.pid as pid,
        a.seq as seq,
        a.ext1 as ext1,
        a.ext2 as ext2,
        a.corp_id as corpId
    </sql>
    <select id="findDictInfo" resultType="Dict">
        select
        <include refid="col_list"/>
        from tb_dict a where a.id = #{id};
    </select>

    <select id="queryPageList" resultType="Dict">
        select
        <include refid="col_list"/>
        from tb_dict a
        where 1=1 and a.is_del=0
        <if test="param.isDel==0">
            and a.key_group!='feather_price' and a.key_group!='FEATHER_TYPE' and a.key_group!='num_tags'
        </if>
        <if test="param.keyId!=null and param.keyId!=''">
            and a.key_id like "%"#{param.keyId}"%"
        </if>
        <if test="param.keyValue!=null and param.keyValue!=''">
            and a.key_value like "%"#{param.keyValue}"%"
        </if>
        <if test="param.keyGroup!=null and param.keyGroup!=''">
            and a.key_group like "%"#{param.keyGroup}"%"
        </if>
        <if test="param.note!=null and param.note!=''">
            and a.note like "%"#{param.note}"%"
        </if>
        <if test="param.corpId!=null and param.corpId!=''">
            and a.corp_id = #{param.corpId}
        </if>
        order by a.key_group, a.seq
    </select>

    <insert id="insertBatch">
        insert into tb_dict(
        id,
        key_id,
        key_group,
        key_value,
        is_del,
        note,
        pid,
        seq
        ) values
        <foreach collection="dictList" item="dict" separator=",">
            (
            #{dict.id},
            #{dict.keyId},
            #{dict.keyGroup},
            #{dict.keyValue},
            #{dict.isDel},
            #{dict.note},
            #{dict.pid},
            #{dict.seq}
            )
        </foreach>
    </insert>

    <update id="dictEdit">
        update tb_dict a set
            a.key_id = #{keyId},
            a.key_group = #{keyGroup},
            a.key_value = #{keyValue},
            a.is_del = #{isDel},
            a.note = #{note},
            a.pid = #{pid},
            a.seq = #{seq}
        where
            a.id = #{id}
    </update>

    <update id="dictDelete">
        update tb_dict a set a.is_del = 1 where a.id = #{id}
    </update>

    <select id="checkDictKeyIdIsExist" resultType="java.lang.Integer">
        select count(1) as num from tb_dict a where a.id != #{id} and a.key_id = #{keyId} and a.key_group = #{keyGroup}
    </select>

    <select id="findGroupMaxInfo" resultType="Dict">
        select
        <include refid="col_list"/>
        from tb_dict a
        where a.key_group = #{keyGroup} order by a.seq desc limit 1
    </select>

    <resultMap id="dictGroupList" type="java.util.HashMap">
        <result column="key_id" property="keyId"></result>
        <result column="key_value" property="keyValue"></result>
        <result column="key_group" property="keyGroup"></result>
        <result column="note" property="note"></result>
    </resultMap>
    <select id="findDictByGroup" resultMap="dictGroupList">
        select * from tb_dict a where a.is_del = 0 and a.key_group = #{keyGroup} order by a.seq asc
    </select>

    <select id="findDictByGroupAndCorpId" resultMap="dictGroupList">
        select * from tb_dict a where a.is_del = 0 and a.key_group = #{keyGroup} and a.corp_id = #{corpId} order by a.seq asc
    </select>

    <resultMap id="typeGroupDictList" type="java.util.HashMap">
        <result column="gtp_group" property="gtpGroup"></result>
        <result column="key_id" property="keyId"></result>
        <result column="key_value" property="keyValue"></result>
        <result column="key_group" property="keyGroup"></result>
    </resultMap>
    <select id="findDictByTypeGroup" resultMap="typeGroupDictList">
        select a.gtp_group, b.key_id, b.key_value, b.key_group from tb_goods_type_property a
        left join  tb_dict b on a.gtp_dict_group_key = b.key_group
        where a.g_type2 = #{keyGroup} order by a.seq, b.seq asc
    </select>
    <select id="maxSeqAndKeyId" resultType="java.util.HashMap">
        select ifnull(max(d.seq),0) seq, ifnull(max(cast(d.key_id as UNSIGNED INTEGER)),0) keyId from tb_dict d where d.key_group=#{keyGroup}
    </select>
</mapper>