<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.GoodsMapper">
    <sql id="col_list">
        a.g_id as gId,
        a.g_type1 as gType1,
        a.g_type2 as gType2,
        a.g_name as gName,
        a.g_ad as gAd,
        a.g_start_time as gStartTime,
        a.g_end_time as gEndTime,
        a.g_sale_city as gSaleCity,
        a.g_is_auc as gIsAuc,
        a.g_active as gActive,
        a.g_is_pack as gIsPack,
        a.g_loop_time as gLoopTime,
        a.g_deposit as gDeposit,
        a.g_start_num as gStartNum,
        a.g_price_up as gPriceUp,
        a.g_is_sale as gIsSale
    </sql>
    <select id="findGoodsInfo" resultType="Goods">
        select
        <include refid="col_list"/>
        from tb_goods a where a.g_id = #{id}
    </select>

    <select id="queryPageList" resultType="Goods">
        select
        <include refid="col_list"/>
        from tb_goods a
        where 1=1
        <if test="param.gName !=null and param.gName!=''">
            and a.g_name like "%"#{param.gName}"%"
        </if>
        <if test="param.gAd !=null and param.gAd!=''">
            and a.g_ad like "%"#{param.gAd}"%"
        </if>
        order by a.g_start_time
    </select>

    <sql id="col_file">
        b.file_id as fileId,
        b.ref_id as refId,
        b.file_name as fileName,
        b.file_group as fileGroup,
        b.seq as seq,
    </sql>
    <resultMap id="ApiGoodsList" type="java.util.HashMap">
        <result property="gId" column="g_id"></result>
        <result property="gType1" column="g_type1"></result>
        <result property="gType2" column="g_type2"></result>
        <result property="gName" column="g_name"></result>
        <result property="gAd" column="g_ad"></result>
        <result property="gStartTime" column="g_start_time"></result>
        <result property="gEndTime" column="g_end_time"></result>
        <result property="gSaleCity" column="g_sale_city"></result>
        <result property="gIsAuc" column="g_is_auc"></result>
        <result property="gActive" column="g_active"></result>
        <result property="gIsPack" column="g_is_pack"></result>
        <result property="gLoopTime" column="g_loop_time"></result>
        <result property="gDeposit" column="g_deposit"></result>
        <result property="gStartNum" column="g_start_num"></result>
        <result property="gPriceUp" column="g_price_up"></result>
        <result property="gIsSale" column="g_is_sale"></result>
        <result property="fileId" column="file_id"></result>
        <result property="refId" column="ref_id"></result>
        <result property="fileName" column="file_name"></result>
        <result property="fileGroup" column="file_group"></result>
        <result property="seq" column="seq"></result>
    </resultMap>

    <select id="queryPageListApi" resultMap="ApiGoodsList">
        select distinct * from (
        <if test="gSaleCityArr!=null and gSaleCityArr.length>0">
            <foreach collection="gSaleCityArr" item="saleCity" separator="union all">

                select
                <include refid="col_file"/>
                <include refid="col_list"/>
                from tb_goods a left join tb_file_info b on a.g_id=b.ref_id where b.seq = 1
                and FIND_IN_SET(#{saleCity},a.g_sale_city)
                union all
                select
                <include refid="col_file"/>
                <include refid="col_list"/>
                from tb_goods a left join tb_file_info b on a.g_id=b.ref_id where b.seq is null
                and FIND_IN_SET(#{saleCity},a.g_sale_city)

            </foreach>
        </if>
        <if test="gSaleCityArr==null or gSaleCityArr.length==0">
            select
            <include refid="col_file"/>
            <include refid="col_list"/>
            from tb_goods a left join tb_file_info b on a.g_id=b.ref_id where b.seq = 1
            union all
            select
            <include refid="col_file"/>
            <include refid="col_list"/>
            from tb_goods a left join tb_file_info b on a.g_id=b.ref_id where b.seq is null
        </if>
        ) t
        where SYSDATE() between t.gStartTime and t.gEndTime and t.gIsSale='1'
        order by t.gStartTime
    </select>

    <insert id="insertBatch">
        insert into tb_goods(
            g_id,
            g_type1,
            g_type2,
            g_name,
            g_ad,
            g_start_time,
            g_end_time,
            g_sale_city,
            g_is_auc,
            g_active,
            g_is_pack,
            g_loop_time,
            g_deposit,
            g_start_num,
            g_price_up,
            g_is_sale
        ) values
        <foreach collection="goodsList" item="goods" separator=",">
            (
            #{goods.gId},
            #{goods.gType1},
            #{goods.gType2},
            #{goods.gName},
            #{goods.gAd},
            #{goods.gStartTime},
            #{goods.gEndTime},
            #{goods.gSaleCity},
            #{goods.gIsAuc},
            #{goods.gActive},
            #{goods.gIsPack},
            #{goods.gLoopTime},
            #{goods.gDeposit},
            #{goods.gStartNum},
            #{goods.gPriceUp},
            '1'
            )
        </foreach>
    </insert>
    <!--a.g_type1 = #{gType1},
    a.g_type2 = #{gType2},-->
    <update id="goodsEdit">
        update tb_goods a set

            a.g_name = #{gName},
            a.g_ad = #{gAd},
            a.g_start_time = #{gStartTime},
            a.g_end_time = #{gEndTime},
            a.g_sale_city = #{gSaleCity},
            a.g_is_auc = #{gIsAuc},
            a.g_active = #{gActive},
            a.g_is_pack = #{gIsPack},
            a.g_loop_time = #{gLoopTime},
            a.g_deposit = #{gDeposit},
            a.g_start_num = #{gStartNum},
            a.g_price_up = #{gPriceUp},
            a.g_is_sale = '1'
        where
            a.g_id = #{gId}
    </update>

    <update id="goodsDelete">
        delete from tb_goods where g_id = #{gId}
    </update>

    <update id="goodsUnsale">
        update tb_goods a set
            a.g_is_sale = '2'
        where a.g_id = #{gId}
    </update>

</mapper>