<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.IccidMapper">
    <insert id="batchInsertTemp"lang="">
        INSERT INTO tb_iccid_temp
        (item_id, iccid)
        VALUES
        <foreach collection ="list" item="item" separator =",">
            <foreach collection="item.iccids" item="iccid"  separator =",">
            (#{item.itemId}, #{iccid})
            </foreach>
        </foreach >
    </insert>
</mapper>