<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.NumberMapper">
    <sql id="col_list">
        a.id as id,
        a.city_id as cityId,
        a.city_name as cityName,
        a.net_type as netType,
        a.num_resource as numResource,
        a.num_type as numType,
        a.num_level as numLevel,
        a.low_consume as lowConsume,
        a.with4 as with4,
        a.feature as feature,
        a.section_no as sectionNo,
        a.more_digit as moreDigit,
        a.seller_id as sellerId,
        a.seller as seller,
        a.buyer_id as buyerId,
        a.buyer as buyer,
        a.iccid as iccid,
        a.status as status,
        a.sku_id as skuId,
        a.tele_type as teleType
    </sql>
    <sql id="ex_col_list">
    </sql>

    <resultMap id="queryPageListMap" type="java.util.HashMap">
        <result column="id" property="id" javaType="java.lang.String"></result>
        <result column="city_id" property="cityId" javaType="java.lang.String"></result>
        <result column="city_name" property="cityName" javaType="java.lang.String"></result>
        <result column="net_type" property="netType" javaType="java.lang.String"></result>
        <result column="num_resource" property="numResource" javaType="java.lang.String"></result>
        <result column="num_type" property="numType" javaType="java.lang.String"></result>
        <result column="num_level" property="numLevel" javaType="java.lang.String"></result>
        <result column="low_consume" property="lowConsume" javaType="java.lang.String"></result>
        <result column="with4" property="with4" javaType="java.lang.String"></result>
        <result column="feature" property="feature" javaType="java.lang.String"></result>
        <result column="section_no" property="sectionNo" javaType="java.lang.String"></result>
        <result column="more_digit" property="moreDigit" javaType="java.lang.String"></result>
        <result column="seller_id" property="sellerId" javaType="java.lang.String"></result>
        <result column="seller" property="seller" javaType="java.lang.String"></result>
        <result column="buyer_id" property="buyerId" javaType="java.lang.String"></result>
        <result column="buyer" property="buyer" javaType="java.lang.String"></result>
        <result column="iccid" property="iccid" javaType="java.lang.String"></result>
        <result column="status" property="status" javaType="java.lang.String"></result>
        <result column="sku_id" property="skuId" javaType="java.lang.String"></result>
        <result column="tele_type" property="teleType" javaType="java.lang.String"></result>
    </resultMap>
    <select id="queryPageList" resultMap="queryPageListMap">
        select
        (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where 1=1
        <if test="param.tags!=null and param.tags!='' and param.tags !='\'\''">
            and a.id in (
            select d.num_id from tb_num_rule d where d.`value` in (${param.tags}) and d.rule_type = 'tag'
            )
        </if>
        <if test="param.numbers!=null and param.numbers!='' and param.numbers !='\'\''">
            and a.num_resource in (${param.numbers})
        </if>
        <if test="param.numberBlock!=null and param.numberBlock!='' and param.numberBlock !='\'\''">
            and a.num_resource like #{param.numberBlock}"%"
        </if>
        <if test="param.qstatus!=null and param.qstatus != '-1' and param.qstatus!='' and param.qstatus !='\'\''">
            and a.status = #{param.qstatus}
        </if>
        <if test="param.city!=null and param.city!='' and param.city !='\'\''">
            and a.city_id in (${param.city})
        </if>
        order by a.id
    </select>

    <select id="getListBySkuid" resultType="Number">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where a.sku_id = #{skuid} and a.status in (1, 2)
    </select>

    <select id="getListBySkuidAndStatus" resultType="Number">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where a.sku_id = #{skuid}
        and a.status in (${status})
        limit 0,#{numcount}
    </select>

    <resultMap id="saleNumber" type="java.util.HashMap">
        <result column="id" property="id" javaType="java.lang.String"></result>
        <result column="city_id" property="cityId" javaType="java.lang.String"></result>
        <result column="city_name" property="cityName"></result>
        <result column="num_resource" property="numResource"></result>
        <result column="sku_id" property="skuId" javaType="java.lang.String"></result>
        <result column="sku_tob_price" property="skuTobPrice"></result>
        <result column="sku_toc_price" property="skuTocPrice"></result>
        <result column="tags" property="tags"></result>
        <result column="num_level" property="numLevel"></result>
        <result column="with4" property="with4"></result>
        <result column="low_consume" property="lowConsume"></result>
        <result column="net_type" property="netType"></result>
        <result column="tele_type" property="teleType"></result>
    </resultMap>
    <select id="queryPageListApi" resultMap="saleNumber">
        select
            a.id,
            a.city_id,
            a.city_name,
            a.num_resource,
            b.sku_id,
            b.sku_tob_price,
            b.sku_toc_price,
            (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
            a.num_level,
            a.with4,
            a.low_consume,
            a.net_type,
            if(a.tele_type is null,'',a.tele_type) as tele_type
        from tb_num a
        left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods c on c.g_id = b.g_id
        where c.g_is_auc = 0
        <if test="tags!=null and tags!='' and tags !='\'\''">
        and a.id in (
            select d.num_id from tb_num_rule d where d.`value` in (${tags}) and d.rule_type = 'tag'
        )
        </if>
        and a.status in ('2')
        and b.sku_goods_type = '4'
        and c.g_is_sale = '1'
        and SYSDATE() between c.g_start_time and c.g_end_time
    </select>

    <select id="getNumInfoById" resultMap="saleNumber">
        select
        a.id,
        a.city_id,
        a.city_name,
        a.num_resource,
        b.sku_id,
        b.sku_tob_price,
        b.sku_toc_price,
        (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
        a.num_level,
        a.with4,
        a.low_consume,
        a.net_type,
        a.status,
        if(a.tele_type is null,'',a.tele_type) as tele_type
        from tb_num a
        left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods c on c.g_id = b.g_id
        where 1=1
            and a.id = #{id}
        and a.status in ('2','4')
        and c.g_is_sale = '1'
    </select>

    <select id="getNumInfoByNum" resultMap="saleNumber">
        select
        a.id,
        a.city_id,
        a.city_name,
        a.num_resource,
        b.sku_id,
        b.sku_tob_price,
        b.sku_toc_price,
        (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
        a.num_level,
        a.with4,
        a.low_consume,
        a.net_type,
        a.status,
        if(a.tele_type is null,'',a.tele_type) as tele_type
        from tb_num a
        left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods c on c.g_id = b.g_id
        where 1=1
            and a.num_resource = #{num}
        limit 1
    </select>

    <select id="checkNumberIsOk" resultType="java.lang.Integer">
        select count(1) as num from tb_num a
        where a.status = 1
        <if test="numResource!=null and numResource!=''">
            and a.num_resource = #{numResource}
        </if>
    </select>

    <resultMap id="queryPageListApiForNumber3" type="java.util.HashMap">
        <result property="id" column="id" javaType="java.lang.String"></result>
        <result property="skuId" column="sku_id" javaType="java.lang.String"></result>
        <result property="name" column="name"></result>
        <result property="phone" column="phone"></result>
        <result property="numResource" column="num_resource"></result>
        <result property="lowConsume" column="low_consume"></result>
        <result property="skuTocPrice" column="sku_toc_price"></result>
        <result property="skuTobPrice" column="sku_tob_price"></result>
    </resultMap>
    <select id="queryPageListApiForNumber3" resultMap="queryPageListApiForNumber3">
        select
            c.name,
            c.phone,
            a.id,
            a.num_resource,
            a.low_consume,
            b.sku_toc_price,
            b.sku_tob_price,
            b.sku_id

        from tb_num a left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods d on d.g_id = b.g_id
        left join
          (select max(name) as name, max(phone) as phone, agent_city from tb_consumer GROUP BY agent_city) c
        on c.agent_city = a.city_id
        where b.sku_goods_type in (${skuGoodsType})
        <if test="isAgent==2">
            and a.city_id = #{agentCity}
        </if>
        and SYSDATE() between d.g_start_time and d.g_end_time
        and a.status = 2
        and d.g_is_sale = '1'
        and d.g_is_auc = '0'
    </select>

    <update id="updateStatus">
        update tb_num a set
        <if test="number.startTime!=null">
            a.start_time = #{number.startTime},
        </if>
        <if test="number.endTime!=null">
            a.end_time = #{number.endTime},
        </if>
        <if test="number.status==1">
            <if test="isClearSkuid">
              a.sku_id=null,
            </if>
            a.status=1
            where
            a.sku_id = #{number.skuId} and a.status in (1,2)
        </if>
        <if test="number.status==2">
            a.sku_id=#{number.skuId},
            a.status=2
            where
            a.num_resource = #{number.numResource} and a.status in (1,2)
        </if>
    </update>

    <update id="freezeNum">
        update tb_num a set a.status = #{status} where a.id = #{id}
    </update>

    <update id="freezeNumByIds">
        update tb_num a set a.status = #{status} where a.id in (
        <foreach collection="numberList" item="n" separator=",">
            #{n.id}
        </foreach>
        )
    </update>

    <update id ="updateDelStatus" >
        update tb_num m set m.status=1,m.sku_id=null  where m.sku_id=#{delSku}
    </update>
</mapper>