<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.NumberMapper">
    <sql id="col_list">
        a.id as id,
        a.city_id as cityId,
        a.city_name as cityName,
        a.net_type as netType,
        a.num_resource as numResource,
        a.num_type as numType,
        a.num_level as numLevel,
        a.low_consume as lowConsume,
        a.with4 as with4,
        a.feature as feature,
        a.section_no as sectionNo,
        a.more_digit as moreDigit,
        a.seller_id as sellerId,
        a.seller as seller,
        a.buyer_id as buyerId,
        a.buyer as buyer,
        a.iccid as iccid,
        a.status as status,
        a.sku_id as skuId,
        a.tele_type as teleType
    </sql>
    <sql id="ex_col_list">
    </sql>

    <select id="queryPageList" resultType="Number">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where 1=1
    </select>

    <select id="getListBySkuid" resultType="Number">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where a.sku_id = #{skuid}
    </select>

    <select id="getListBySkuidAndStatus" resultType="Number">
        select
        <include refid="ex_col_list"/>
        <include refid="col_list"/>
        from tb_num a
        where a.sku_id = #{skuid}
        and a.status in (${status})
        limit 0,#{numcount}
    </select>

    <resultMap id="saleNumber" type="java.util.HashMap">
        <result column="id" property="id" javaType="java.lang.String"></result>
        <result column="city_id" property="cityId" javaType="java.lang.String"></result>
        <result column="city_name" property="cityName"></result>
        <result column="num_resource" property="numResource"></result>
        <result column="sku_id" property="skuId" javaType="java.lang.String"></result>
        <result column="sku_tob_price" property="skuTobPrice"></result>
        <result column="sku_toc_price" property="skuTocPrice"></result>
        <result column="tags" property="tags"></result>
        <result column="num_level" property="numLevel"></result>
        <result column="with4" property="with4"></result>
        <result column="low_consume" property="lowConsume"></result>
        <result column="net_type" property="netType"></result>
        <result column="tele_type" property="teleType"></result>
    </resultMap>
    <select id="queryPageListApi" resultMap="saleNumber">
        select
            a.id,
            a.city_id,
            a.city_name,
            a.num_resource,
            b.sku_id,
            b.sku_tob_price,
            b.sku_toc_price,
            (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
            a.num_level,
            a.with4,
            a.low_consume,
            a.net_type,
            if(a.tele_type is null,'',a.tele_type) as tele_type
        from tb_num a
        left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods c on c.g_id = b.g_id
        where 1=1
        <if test="tags!=null and tags!='' and tags !='\'\''">
        and a.id in (
            select d.num_id from tb_num_rule d where d.`value` in (${tags}) and d.rule_type = 'tag'
        )
        </if>
        and a.status in ('1', '2')
        and c.g_is_sale = '1'
    </select>

    <select id="getNumInfoById" resultMap="saleNumber">
        select
        a.id,
        a.city_id,
        a.city_name,
        a.num_resource,
        b.sku_id,
        b.sku_tob_price,
        b.sku_toc_price,
        (select GROUP_CONCAT(`value`) from tb_num_rule where num_id = a.id GROUP BY num_id) as tags,
        a.num_level,
        a.with4,
        a.low_consume,
        a.net_type,
        a.status,
        if(a.tele_type is null,'',a.tele_type) as tele_type
        from tb_num a
        left join tb_sku b on b.sku_id = a.sku_id
        left join tb_goods c on c.g_id = b.g_id
        where 1=1
            and a.id = #{id}
        and a.status in ('1', '2')
        and c.g_is_sale = '1'
    </select>

    <select id="checkNumberIsOk" resultType="java.lang.Integer">
        select count(1) as num from tb_num a
        where a.status = 1
        <if test="numResource!=null and numResource!=''">
            and a.num_resource = #{numResource}
        </if>
    </select>

    <resultMap id="queryPageListApiForNumber3" type="java.util.HashMap">
        <result property="id" column="id" javaType="java.lang.String"></result>
        <result property="name" column="name"></result>
        <result property="phone" column="phone"></result>
        <result property="numResource" column="num_resource"></result>
        <result property="lowConsume" column="low_consume"></result>
        <result property="skuTocPrice" column="sku_toc_price"></result>
        <result property="skuTobPrice" column="sku_tob_price"></result>
    </resultMap>
    <select id="queryPageListApiForNumber3" resultMap="queryPageListApiForNumber3">
        select
            c.name,
            c.phone,
            a.id,
            a.num_resource,
            a.low_consume,
            b.sku_toc_price,
            b.sku_tob_price

        from tb_num a left join tb_sku b on b.sku_id = a.sku_id
        left join
          (select max(name) as name, max(phone) as phone, agent_city from tb_consumer GROUP BY agent_city) c
        on c.agent_city = a.city_id
        where b.sku_goods_type in (${skuGoodsType})
        and c.agent_city = #{agentCity}
    </select>

    <update id="updateStatus">
        update tb_num a set
        <if test="status==1">
            a.status=1
            where
            a.sku_id = #{skuId}
        </if>
        <if test="status==2">
            a.sku_id=#{skuId},
            a.status=2
            where
            a.num_resource = #{numResource}
        </if>
    </update>

    <update id="freezeNum">
        update tb_num a set a.status = #{status} where a.id = #{id}
    </update>

    <update id="freezeNumByIds">
        update tb_num a set a.status = #{status} where a.id in (
        <foreach collection="numberList" item="n" separator=",">
            #{n.id}
        </foreach>
        )
    </update>
</mapper>