<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtx.web.mapper.NumPriceAgentMapper" >
    <select id="queryNumPriceAgentSkus" resultType="java.lang.Integer">
        select n.sku_id from tb_num_price_agent n group by n.sku_id
    </select>
    <select id="queryGoodSkus" resultType="java.lang.Integer">
        select sku.sku_id from tb_goods c join tb_sku sku on c.g_id=sku.g_id
        where SYSDATE( ) BETWEEN c.g_start_time AND c.g_end_time and c.`status` = 1 AND c.g_is_auc = 0 AND sku.sku_goods_type = '4' AND c.g_is_sale = '1'
    </select>

    <select id="listNum" resultType="java.util.HashMap">
        select p.resource, p.net_type ,p.price,t.key_value
        from tb_num_price_agent p left join tb_dict t on p.`status` = t.key_id and t.key_group='num_status'
        where p.`status`=2
        <if test="sellerId!=null and sellerId!=''">
            and p.corp_id= #{sellerId}
        </if>
        <if test="agentId!=null and agentId!=''">
            and p.agent_id= #{agentId}
        </if>
        and  p.resource in (
        <foreach collection="StrNums.split(',')" item="Nums" separator=",">
            #{Nums}
        </foreach>
        )
    </select>

    <update id="updateNumPriceAgent">
        update tb_num_price_agent g
        set g.activity_id=#{activityId} ,
        g.activity_type=#{activityType},
        g.activity_sdate=#{activitySdate},
        g.activity_edate=#{activityEdate},
        g.activity_price=#{activityPrice}
        where g.agent_id=#{agentId} and g.corp_id=#{corpId} and g.resource =#{resource}
    </update>
    <update id="updateNumPriceAgentByActivityId">
        update tb_num_price_agent g
        set g.activity_id=0 ,
        g.activity_type=0,
        g.activity_price=0
        where g.activity_id=#{activityId} and g.status=2
    </update>
</mapper>