<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtx.web.mapper.NumPriceMapper" >
  <!--<cache
          eviction="FIFO"  &lt;!&ndash;回收策略为先进先出&ndash;&gt;
  flushInterval="60000" &lt;!&ndash;自动刷新时间60s&ndash;&gt;
  size="512" &lt;!&ndash;最多缓存512个引用对-->

  <cache eviction="LRU" flushInterval="60000" readOnly="true" size="1024"></cache>


  <select id="queryPageList" resultType="java.util.HashMap" useCache="false">
    select np.id,np.city_name cityName,np.resource, np.net_type netType,ch.channel,np.price,np.low_consume lowConsume,n.num_level numLevel,ifnull(a.commpay_name,'默认') commpayName,DATE_FORMAT(np.add_date,'%Y-%m-%d %H:%i:%s') addDate
    from tb_num_price np
    inner join  tb_num n on np.num_id = n.id
    left join tb_channel ch on np.channel=ch.channel_id and ch.corp_id=np.corp_id
    left join tb_agent a on a.id= np.agent_id and a.is_del=0
    left join tb_corp_agent ca on ca.agent_id=a.id and ca.status=2 and ca.corp_id=np.corp_id
    where np.is_del=0 and ch.is_del=0 and n.status = 2 and np.corp_id=#{param.corpId}
    <if test="param.channel!=null and param.channel > 0"> and np.channel = #{param.channel}</if>
    <if test="param.resource!=null and param.resource!=''"> and np.resource like "%"#{param.resource}"%"</if>
    <if test="param.agentId!=null"> and (np.agent_id = -1 or np.agent_id = #{param.agentId})</if>
    order by np.num_id
  </select>

  <select id="queryList" resultType="java.util.HashMap">

    select a.num_price_id numPriceId, a.resource, case when a.net_type = '电信' then 1 when a.net_type = '联通' then 2 when a.net_type = '移动' then 3 else 0 end net_type,
    a.province_name, a.city_name, a.feature, a.price, a.is_freeze, a.num_id id, a.`status`, a.city_code, a.id num_price_agent_id,
    a.with4,a.net_type teleType, 0 skuTobPrice,0 skuTocPrice, a.net_type netType, a.num_level numLevel, a.low_consume lowConsume, a.sku_id skuId,a.num_tags tags,
    a.agent_id, a.corp_id
    ,a.activity_id activityId,a.activity_type activityType,a.activity_sdate activitySdate,a.activity_edate activityEdate,a.activity_price activityPrice
    , case when   a.activity_type !=0 and a.activity_sdate BETWEEN DATE_FORMAT(#{param.beginDate}, '%Y-%m-%d %H:%i:%S') and DATE_FORMAT(#{param.endDate}, '%Y-%m-%d %H:%i:%S') then a.activity_price
    else  a.price end as price_range
    from tb_num_price_agent a  where a.status = 2

    <if test="param.agentId!=null and param.agentId > 0"> and a.agent_id = #{param.agentId}</if>
    <if test="param.provinceCode!=null and param.provinceCode > 0"> and a.province_code = #{param.provinceCode}</if>
    <if test="param.cityCode!=null and param.cityCode > 0"> and a.city_code = #{param.cityCode}</if>
    <if test="param.netType!=null and param.netType != ''"> and a.net_type = #{param.netType}</if>
    <if test="param.feature!=null and param.feature != ''"> and a.feature REGEXP ".*,"#{param.feature}",.*"</if>
    <if test="param.temp!=null and param.temp!=''"> and a.resource like #{param.temp}</if>
    <if test="param.resource!=null and param.resource!=''"> and a.resource like "%"#{param.resource}"%"</if>
    <if test="param.numId!=null and param.numId > 0"> and a.num_id = #{param.numId}</if>

    <if test="param.numTags!=null and param.numTags != ''"> and a.num_tags REGEXP ".*,"#{param.numTags}",.*"</if>
    <if test="param.priceS!=null and param.priceS > 0"> and a.price &gt;= #{param.priceS}</if>
    <if test="param.priceE!=null and param.priceE > 0"> and a.price &lt;= #{param.priceE}</if>

    <choose>
      <when test="param.falg == 1">
        and a.activity_type=1
        and a.activity_sdate BETWEEN DATE_FORMAT(#{param.beginDate}, '%Y-%m-%d %H:%i:%S') and DATE_FORMAT(#{param.endDate}, '%Y-%m-%d %H:%i:%S')
      </when>
      <when test="param.falg == 2">
        and a.activity_type=1
        and DATE_FORMAT(#{param.beginDate}, '%Y-%m-%d %H:%i:%S') =a.activity_sdate
      </when>
    </choose>

    <choose>
      <when test="param.sort == 1">
        order by
        case when a.province_name = '北京市' then 1 else 0 end desc,
        a.province_name desc,
        case when a.feature REGEXP ".*,AAAA,.*" THEN 2 when a.feature REGEXP ".*,AAA,.*" then 1 ELSE 0 end desc
      </when>
      <otherwise>
        order by a.price desc
      </otherwise>
    </choose>
    <if test="param.limit!=null and param.limit > 0"> limit #{param.start}, #{param.limit} </if>
  </select>
  <select id="countList" resultType="java.lang.Long">
    select count(*) from tb_num_price_agent a where a.status = 2
    <if test="param.agentId!=null and param.agentId > 0"> and a.agent_id = #{param.agentId}</if>
    <if test="param.provinceCode!=null and param.provinceCode > 0"> and a.province_code = #{param.provinceCode}</if>
    <if test="param.cityCode!=null and param.cityCode > 0"> and a.city_code = #{param.cityCode}</if>
    <if test="param.netType!=null and param.netType != ''"> and a.net_type = #{param.netType}</if>
    <if test="param.feature!=null and param.feature != ''"> and a.feature REGEXP ".*,"#{param.feature}",.*"</if>
    <if test="param.temp!=null and param.temp!=''"> and a.resource like #{param.temp}</if>
    <if test="param.resource!=null and param.resource!=''"> and a.resource like "%"#{param.resource}"%"</if>
    <if test="param.numId!=null and param.numId > 0"> and a.num_id = #{param.numId}</if>

    <if test="param.numTags!=null and param.numTags != ''"> and a.num_tags REGEXP ".*,"#{param.numTags}",.*"</if>
    <if test="param.priceS!=null and param.priceS > 0"> and a.price &gt;= #{param.priceS}</if>
    <if test="param.priceE!=null and param.priceE > 0"> and a.price &lt;= #{param.priceE}</if>

    <choose>
      <when test="param.falg == 1">
        and a.activity_type=1
        and a.activity_sdate BETWEEN DATE_FORMAT(#{param.beginDate}, '%Y-%m-%d %H:%i:%S') and DATE_FORMAT(#{param.endDate}, '%Y-%m-%d %H:%i:%S')
      </when>
      <when test="param.falg == 2">
        and a.activity_type=1
        and DATE_FORMAT(#{param.beginDate}, '%Y-%m-%d %H:%i:%S') =a.activity_sdate
      </when>
    </choose>

  </select>

  <update id="matchNumPrice">
    update tb_num_price t, (
    select n.id, c.ratio_price, ifnull(bp.price,n.base_price) price from tb_num_price n left join
    (
    select t.num_id, max(t.num) num, max(CAST(t.price AS SIGNED)) price from (
    select r.num_id, r.num, case when locate('4',r.num) > 0 then d.ext2 else d.ext1 end price
    from tb_num_rule r, tb_dict d where r.`value` = d.key_id and r.rule_type = 'feather_price' and d.key_group = 'feather_price' and d.is_del = 0 and d.corp_id = #{corpId}
    ) t group by t.num_id
    ) bp on n.num_id = bp.num_id, tb_channel c where n.agent_id = -1 and n.channel = c.channel_id and n.corp_id = #{corpId} and c.corp_id = #{corpId} and c.is_del = 0 and n.is_del = 0
     and ((n.base_price != bp.price) or n.ratio_price != c.ratio_price)

    ) t1 set t.ratio_price = t1.ratio_price, t.base_price = t1.price, t.price = t1.ratio_price * t1.price where t.id = t1.id and t.is_del = 0 and t.corp_id = #{corpId}

  </update>

  <update id="batchUpateFeature">
    update tb_num_price p set p.feature = CONCAT(p.feature,#{feature}) where p.num_id in (
    <foreach collection="batch" item="item" separator=",">
      #{item.numId}
    </foreach>
    ) and p.is_del = 0
  </update>

  <update id="updateFeature">
      update tb_num_price p set p.feature = REPLACE(p.feature,#{feature},',') where p.is_del = 0 and p.feature REGEXP  ".*"#{feature}".*";
  </update>

  <update id="freezeNum">
      update tb_num n set n.is_freeze = #{param.isFreeze} where n.id=#{param.id}
  </update>

  <select id="queryAgentNumprice" resultType="java.util.Map" useCache="false">
    select a.price ,ifnull(b.price,a.price) agentPrice from
      (select np.price,np.num_id from  tb_num_price np where np.num_id=#{param.numId} and np.agent_id=-1 and np.is_del=0 and np.channel=#{param.channel}) a left join
    (select np.price,np.num_id from  tb_num_price np where np.num_id=#{param.numId} and np.agent_id=#{param.agentId} and np.is_del=0 and np.channel=#{param.channel}) b on a.num_id=b.num_id
  </select>

  <select id="checkNumpriceCount" resultType="java.lang.Integer" useCache="false">
      select count(1) from
      tb_num_price np
      where np.resource=#{resource} and np.is_del=0 and np.channel=#{param.channel} and np.corp_id=#{param.corpId} and (np.agent_id=-1 or np.agent_id=#{param.agentId})
  </select>

  <update id="batchUpdataIsDel">
    update tb_num_price np set np.is_del=1 where np.resource in (
    <foreach collection="batch" item="item" separator=",">
      #{item}
    </foreach>
    ) and np.channel=#{param.channel} and np.agent_id=#{param.agentId} and np.is_del=0
  </update>

  <insert id="insertBatchbyAgentId">
        insert into tb_num_price(
        sku_id, num_id,province_code,province_name,city_code,city_name,resource, base_price, net_type,feature,low_consume,corp_id,channel,ratio_price,price,agent_id,agent,is_del,add_date)
        select np.sku_id, np.num_id,np.province_code,np.province_name,np.city_code,np.city_name,np.resource, np.base_price, np.net_type,np.feature,np.low_consume,np.corp_id,#{param.channel},np.ratio_price,#{param.price},#{param.agentId},np.agent,0,SYSDATE()
        from tb_num_price np where np.agent_id=-1 and np.channel=#{param.channel} and np.is_del=0 and np.resource in(
        <foreach collection="batch" item="item" separator=",">
            #{item}
        </foreach>
        )
    </insert>

  <insert id="insertNumPriceAgent">
    INSERT INTO `tb_num_price_agent`(`num_price_id`, `sku_id`, `num_id`, `province_code`, `province_name`, `city_code`, `city_name`, `resource`, `base_price`, `net_type`, `feature`, `low_consume`, `corp_id`, `channel`, `ratio_price`, `price`, `agent`, `agent_id`, `add_date`,`status`,with4,is_freeze,num_level,sku_toc_price,sku_tob_price,num_tags,exc_price)
    select np.`id`, np.`sku_id`, np.`num_id`, np.`province_code`, np.`province_name`, np.`city_code`, np.`city_name`, np.`resource`, np.`base_price`,
    np.`net_type`, np.`feature`, np.`low_consume`, np.`corp_id`, np.`channel`, np.`ratio_price`, np.`price`, agent.commpay_name, agent.id agent_id,now(),n.`status`,
    n.with4,n.is_freeze,n.num_level,sku.sku_toc_price,sku.sku_tob_price,tags.num_tags, 0
    from tb_num_price np ,tb_corp_agent a, tb_agent agent,
    tb_num n left join (select nr.num_id,Concat(',',group_concat(nr.`value`),',')  num_tags from tb_num_rule nr where nr.rule_type='num_tags' group by nr.num_id) tags on tags.num_id=n.id,
    tb_goods c, tb_sku sku
    WHERE  np.num_id = n.id  AND np.sku_id = sku.sku_id  and a.corp_id=n.seller_id and a.channel_id = np.channel and a.agent_id = agent.id 	AND n.STATUS = 2  and np.is_del=0 and np.agent_id=-1 and a.`status` = 2
    AND c.g_id = sku.g_id AND sku.sku_goods_type = '4' AND c.g_is_sale = '1'  AND SYSDATE( ) BETWEEN c.g_start_time AND c.g_end_time  AND c.g_is_auc = 0 AND c.`status` = 1
    and sku.sku_id in (
    <foreach collection="skus" item="sku_id" separator=",">
      #{sku_id}
    </foreach>
    )
  </insert>
  <delete id="deleteNumPriceAgent">
    delete npa from tb_num_price_agent npa where npa.sku_id in (
    <foreach collection="skus" item="sku_id" separator=",">
      #{sku_id}
    </foreach>
    )
  </delete>
  <delete id="deleteCompleteNumPriceAgent">
        delete npa from tb_num_price_agent npa, tb_num n where npa.num_id = n.id and n.`status` in (6,8,9)
  </delete>

  <update id="updateNumPriceAgentStatus">
        /*更新号码状态*/
        update tb_num_price_agent npa join tb_num n on npa.num_id=n.id
        set npa.status=n.status,npa.is_freeze=n.is_freeze where npa.status!=n.status or npa.is_freeze!=n.is_freeze;
  </update>

  <update id="updateNumPriceAgentBasePrice">
        update tb_num_price_agent npa , tb_num_price np set npa.price=np.price
        where npa.exc_price=0 and np.agent_id=-1 and npa.price!=np.price and np.is_del=0 and npa.num_price_id = np.id
  </update>
  <update id="updateNumPriceAgentAgentPrice">
        update tb_num_price_agent npa , tb_num_price np  set npa.price=np.price,npa.exc_price=1
        where npa.agent_id=np.agent_id and np.agent_id!=-1 and  npa.num_id=np.num_id and npa.price!=np.price and np.is_del=0
  </update>
  <update id="updateNumPriceAgentStatusByNumId">
        update tb_num_price_agent npa join tb_num n on npa.num_id=n.id
        set npa.status=n.status,npa.is_freeze=n.is_freeze where n.id = #{numId}
  </update>
</mapper>