<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtx.web.mapper.NumPriceAgentMapper" >
    <select id="queryNumPriceAgentSkus" resultType="java.lang.Integer">
        select n.sku_id from tb_num_price_agent n group by n.sku_id
    </select>
    <select id="queryGoodSkus" resultType="java.lang.Integer">
        select sku.sku_id from tb_goods c join tb_sku sku on c.g_id=sku.g_id
        where SYSDATE( ) BETWEEN c.g_start_time AND c.g_end_time and c.`status` = 1 AND c.g_is_auc = 0 AND sku.sku_goods_type = '4' AND c.g_is_sale = '1'
    </select>
</mapper>