<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.OrderItemMapper">
    <sql id="col_list">
        a.item_id as itemId,
        a.order_id as orderId,
        a.goods_id as goodsId,
        a.sku_id as skuId,
        a.sku_property as skuProperty,
        a.num_id as numId,
        a.num as num,
        a.is_shipment as isShipment,
        a.seller_id as sellerId,
        a.seller_name as sellerName,
        a.shipment_api as shipmentApi,
        a.companystock_id as companystockId,
        a.quantity as quantity,
        a.price as price,
        a.total as total,
        a.meal_id as mealId,
        a.iccid as iccid
    </sql>
    <select id="findOrderItemInfo" resultType="OrderItem">
        select
        <include refid="col_list"/>
        from tb_order_item a where a.id = #{id};
    </select>

    <select id="queryPageList" resultType="OrderItem">
        select
        <include refid="col_list"/>
        from tb_order_item a
        where 1=1
        <if test="param.orderId!=null and param.orderId != ''">
            and a.order_id = #{param.orderId}
        </if>
    </select>

    <resultMap id="OrderItemDetail" type="java.util.HashMap">
        <result property="itemId" column="itemId" javaType="java.lang.String"></result>
        <result property="orderId" column="orderId" javaType="java.lang.String"></result>
        <result property="goodsId" column="goodsId" javaType="java.lang.String"></result>
        <result property="skuId" column="skuId" javaType="java.lang.String"></result>
        <result property="skuProperty" column="skuProperty"></result>
        <result property="numId" column="numId" javaType="java.lang.String"></result>
        <result property="num" column="num"></result>
        <result property="isShipment" column="isShipment"></result>
        <result property="sellerId" column="sellerId" javaType="java.lang.String"></result>
        <result property="sellerName" column="sellerName"></result>
        <result property="shipmentApi" column="shipmentApi"></result>
        <result property="companystockId" column="companystockId" javaType="java.lang.String"></result>
        <result property="quantity" column="quantity"></result>
        <result property="price" column="price"></result>
        <result property="total" column="total"></result>
        <result property="mealId" column="mealId" javaType="java.lang.String"></result>
        <result property="iccid" column="iccid" javaType="java.lang.String"></result>
        <result property="skuGoodsType" column="skuGoodsType"></result>
    </resultMap>
    <select id="queryPageListDetail" resultMap="OrderItemDetail">
        select
        b.sku_goods_type as skuGoodsType,
        <include refid="col_list"/>
        from tb_order_item a left join tb_sku b on b.sku_id = a.sku_id
        where 1=1 and a.seller_id = #{sellerId}
        <if test="orderId!=null and orderId != ''">
            and a.order_id = #{orderId}
        </if>
    </select>
    <select id="queryPageListDetailForConsumer" resultMap="OrderItemDetail">
        select
        b.sku_goods_type as skuGoodsType,
        <include refid="col_list"/>
        from tb_order_item a left join tb_sku b on b.sku_id = a.sku_id
        where 1=1
        <if test="orderId!=null and orderId != ''">
            and a.order_id = #{orderId}
        </if>
    </select>

    <insert id="insertBatch">
        insert into tb_order_item(
        item_id,
        p_item_id,
        order_id,
        goods_id,
        sku_id,
        sku_property,
        num_id,
        num,
        is_shipment,
        seller_id,
        seller_name,
        shipment_api,
        companystock_id,
        quantity,
        price,
        total,
        meal_id,
        iccid
        ) values
        <foreach collection="orderItemList" item="orderItem" separator=",">
            (
            #{orderItem.itemId},
            #{orderItem.pItemId},
            #{orderItem.orderId},
            #{orderItem.goodsId},
            #{orderItem.skuId},
            #{orderItem.skuProperty},
            #{orderItem.numId},
            #{orderItem.num},
            #{orderItem.isShipment},
            #{orderItem.sellerId},
            #{orderItem.sellerName},
            #{orderItem.shipmentApi},
            #{orderItem.companystockId},
            #{orderItem.quantity},
            #{orderItem.price},
            #{orderItem.total},
            #{orderItem.mealId},
            #{orderItem.iccid}
            )
        </foreach>
    </insert>
    <select id="queryOrderNums" resultType="java.util.Map">
        select n.id, n.`status` from tb_order_item oi, tb_num n where oi.num_id = n.id and oi.order_id = #{orderId}
    </select>
    <update id="updateMeal">
        update tb_order_item oi set oi.meal_id = #{mealId} where oi.order_id = #{orderId}
    </update>
</mapper>