<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtx.web.mapper.OrderSettleMapper" >

    <select id="countConsumerSettle" resultType="java.util.HashMap">
        select sum(o.settle_amt) all_settle,
        sum(CASE WHEN o.fee_type=6 THEN od.sub_total	ELSE 0 END ) sale_price,
	    sum(CASE WHEN o.fee_type=6 THEN 1	ELSE 0 END) sale_count,
        sum(CASE WHEN o.status=1 THEN o.settle_amt	ELSE 0 END ) wait_settle,
        sum(CASE WHEN o.status=2 THEN o.settle_amt	ELSE 0 END) has_settle
        from tb_order_settle o left join tb_order od on od.order_id=o.order_id
        where o.`status` in (1,2) and o.fee_type in (1,6) and o.settle_user=#{consumer_id} and od.`status` not in (7)
    </select>

    <select id="settleUserMonthSignCount" resultType="java.util.HashMap">
        select os.id,os.status from tb_order_settle os left join tb_order o on os.order_id=o.order_id
        where o.`status`=6 and os.fee_type=#{fee_type} and date_format(os.add_date,'%Y%m')=#{settle_month} and os.settle_user=#{settle_user}
    </select>

    <select id="queryMonthSettle" resultType="java.util.HashMap">
        select os.settle_user,date_format(os.add_date,'%Y%m') settle_month,count(1) sign_count,group_concat(os.id) settle_ids
        from tb_order_settle os left join tb_order o on o.order_id=os.order_id where o.status not in (7) and os.fee_type=#{fee_type} and date_format(os.add_date,'%Y%m')=#{settle_month}
        <if test="settle_user >0"> and os.settle_user=#{settle_user} </if>
        group by os.settle_user,date_format(os.add_date,'%Y%m')
        <if test="limit_count >=0"> having count(1)&lt;#{limit_count}</if>
    </select>

    <select id="queryOrderSettle" resultType="java.util.HashMap">
        select od.order_id,od.total order_amt,od.`status` as order_status,o6.`status` settle_status,date_format(od.pay_date,'%Y-%m-%d') as pay_date,date_format(od.sign_date,'%Y-%m-%d') as sign_date
        ,oi.num,s.consumer_id,d.key_value order_status_text,o6.settle_amt as palt_amt,o1.settle_amt as seller_amt,c.nick_name
        from tb_order od left join tb_order_settle o6 on od.order_id=o6.order_id and o6.fee_type=6
        left join tb_order_item oi on oi.order_id=od.order_id and oi.is_shipment=0
        left join tb_share s on s.id=od.share_id
        left join tb_dict d on d.key_id=od.`status` and d.key_group='orderStatus'
        left join tb_consumer c on c.id=od.consumer
        left join tb_hrpay_account ha on ha.source_id=s.consumer_id and ha.type='consumer'
	    left join tb_order_settle o1 on od.order_id=o1.order_id and o1.fee_type=1  and ha.id=o1.settle_user
        where o6.`status` in (1,2,3) and s.consumer_id=#{consumer_id}
        order by od.order_id desc
    </select>

    <select id="sumCorpOrderAmt" resultType="java.util.HashMap">
        select
        sum(case when o.status in(3,4,5) then o.total else 0 end ) waitBalance,
        sum(case when o.status in(6) then o.total else 0 end ) signBalance,
        sum(ct.waitActiveBalance) waitActiveBalance,
        sum(ct.hasActivebalance) hasActivebalance,
        sum(ct.waitBusiBalance) waitBusiBalance,
        sum(ct.hasBusibalance) hasBusibalance
        from tb_order o left join (
        select os.order_id,
        sum(case when os.status=1 and os.fee_type=1 then os.settle_amt else 0 end ) waitActiveBalance,
        sum(case when os.status=2 and os.fee_type=1 then os.settle_amt else 0 end ) hasActivebalance,
        sum(case when os.status=1 and os.fee_type=6 then os.settle_amt else 0 end ) waitBusiBalance,
        sum(case when os.status=2 and os.fee_type=6 then os.settle_amt else 0 end ) hasBusibalance
        from tb_order_settle os
        group by os.order_id
        ) ct on o.order_id=ct.order_id
        where o.`status` in (3,4,5,6) and o.is_del=0 and o.order_type=2 and o.seller_id=#{corp_id}
  </select>
</mapper>