<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.OrderMapper">
    <sql id="col_list">
        a.order_id as orderId,
        a.consumer as consumer,
        a.consumer_name as consumerName,
        a.status as status,
        a.req_user_agent as reqUserAgent,
        a.req_ip as reqIp,
        a.add_date as addDate,
        a.order_type as orderType,
        a.shipping_menthod_id as shippingMenthodId,
        a.shipping_menthod as shippingMenthod,
        a.address_id as addressId,
        a.person_name as personName,
        a.person_tel as personTel,
        a.address as address,
        a.notice_shipment_date as noticeShipmentDate,
        a.pay_menthod_id as payMenthodId,
        a.pay_menthod as payMenthod,
        a.pay_date as payDate,
        a.express_id as expressId,
        a.express_name as expressName,
        a.express_number as expressNumber,
        a.deliver_date as deliverDate,
        a.pickup_date as pickupDate,
        a.sign_type as signType,
        a.sign_date as signDate,
        a.commission as commission,
        a.shipping_total as shippingTotal,
        a.sub_total as subTotal,
        a.total as total,
        a.conment as conment,
        a.sku_goods_type as skuGoodsType,
        a.is_del as isDel
    </sql>
    <select id="findOrderInfo" resultType="Order">
        select
        <include refid="col_list"/>
        from tb_order a
        where a.is_del=0
        and  a.order_id = #{orderid};
    </select>
    <resultMap id="orderList" type="java.util.HashMap">
        <result property="order_id" column="orderId" javaType="java.lang.String"></result>
        <result property="consumer" column="consumer" javaType="java.lang.String"></result>
        <result property="consumer_name" column="consumerName"></result>
        <result property="status" column="status"></result>
        <result property="req_user_agent" column="reqUserAgent"></result>
        <result property="req_ip" column="reqIp"></result>
        <result property="add_date" column="addDate"></result>
        <result property="order_type" column="orderType"></result>
        <result property="shipping_menthod_id" column="shippingMenthodId" javaType="java.lang.String"></result>
        <result property="shipping_menthod" column="shippingMenthod"></result>
        <result property="address_id" column="addressId" javaType="java.lang.String"></result>
        <result property="person_name" column="personName"></result>
        <result property="person_tel" column="personTel"></result>
        <result property="address" column="address"></result>
        <result property="notice_shipment_date" column="noticeShipmentDate"></result>
        <result property="pay_menthod_id" column="payMenthodId" javaType="java.lang.String"></result>
        <result property="pay_menthod" column="payMenthod"></result>
        <result property="pay_date" column="payDate"></result>
        <result property="express_id" column="expressId" javaType="java.lang.String"></result>
        <result property="express_name" column="expressName"></result>
        <result property="express_number" column="expressNumber"></result>
        <result property="deliver_date" column="deliverDate"></result>
        <result property="pickup_date" column="pickupDate"></result>
        <result property="sign_type" column="signType"></result>
        <result property="sign_date" column="signDate"></result>
        <result property="commission" column="commission"></result>
        <result property="shipping_total" column="shippingTotal"></result>
        <result property="sub_total" column="subTotal"></result>
        <result property="total" column="total"></result>
        <result property="conment" column="conment"></result>
        <result property="sku_goods_type" column="skuGoodsType"></result>

        <result property="gId" column="g_id" javaType="java.lang.String"></result>
        <result property="gType1" column="g_type1"></result>
        <result property="gType2" column="g_type2"></result>
        <result property="gName" column="g_name"></result>
        <result property="gAd" column="g_ad"></result>
        <result property="gStartTime" column="g_start_time"></result>
        <result property="gEndTime" column="g_end_time"></result>
        <result property="gSaleCity" column="g_sale_city"></result>
        <result property="gIsAuc" column="g_is_auc"></result>
        <result property="gActive" column="g_active"></result>
        <result property="gIsPack" column="g_is_pack"></result>
        <result property="gLoopTime" column="g_loop_time"></result>
        <result property="gDeposit" column="g_deposit"></result>
        <result property="gStartNum" column="g_start_num"></result>
        <result property="gPriceUp" column="g_price_up"></result>
        <result property="gSellerId" column="g_seller_id" javaType="java.lang.String"></result>
        <result property="gSellerName" column="g_seller_name"></result>
        <result property="gIsSale" column="g_is_sale"></result>
        <result property="fileId" column="file_id" javaType="java.lang.String"></result>
        <result property="refId" column="ref_id" javaType="java.lang.String"></result>
        <result property="fileName" column="file_name"></result>
        <result property="fileGroup" column="file_group"></result>
        <result property="seq" column="seq"></result>
    </resultMap>
    <select id="getOrderByConsumer" resultMap="orderList">
        select
        c.file_id,
        c.ref_id,
        c.file_name,
        c.file_group,
        c.seq,

        d.g_id,
        d.g_type1,
        d.g_type2,
        d.g_name,
        d.g_ad,
        d.g_start_time,
        d.g_end_time,
        d.g_sale_city,
        d.g_is_auc,
        d.g_active,
        d.g_is_pack,
        d.g_loop_time,
        d.g_deposit,
        d.g_start_num,
        d.g_price_up,
        d.g_seller_id,
        d.g_seller_name,
        d.g_is_sale,
        <include refid="col_list"/>
        from tb_order a
        left join (select max(order_id) as order_id, max(goods_id) as g_id from tb_order_item group by order_id) b
        on a.order_id = b.order_id and a.is_del= 0
        left join tb_file_info c on c.ref_id = b.g_id
        left join tb_goods d on d.g_id = b.g_id
        where c.seq = 1
        and a.consumer = #{order.consumer}
        and a.status in (${st})
        order by a.add_date desc
    </select>

    <select id="queryPageList" resultType="Order">
        select distinct
        <include refid="col_list"/>
        from tb_order a left join tb_order_item m on a.order_id = m.order_id
        where 1=1 and a.is_del=0
        <if test="param.orderId!=null and param.orderId!=''">
            and a.order_id = #{param.orderId}
        </if>
        <if test="param.personName!=null and param.personName!=''">
            and a.person_name like "%"#{param.personName}"%"
        </if>
        <if test="param.num!=null and param.num!=''">
            and m.num =#{param.num}
        </if>
        <if test="param.personName!=null and param.personName!=''">
            and a.person_name like "%"#{param.personName}"%"
        </if>
        <if test="param.num!=null and param.num!=''">
            and m.num =#{param.num}
        </if>
        <if test="param.startTime!=null and param.startTime!=''">
            and  str_to_date(a.add_date,'%Y-%m-%d') &gt;= #{param.startTime}
        </if>
        <if test="param.endTime!=null and param.endTime!=''">
            and  str_to_date(a.add_date,'%Y-%m-%d') &lt;= #{param.endTime}
        </if>
        <if test="param.status!=null and param.status!='' and param.status!='-1'">
            and a.status = #{param.status}
        </if>
        order by a.add_date desc
    </select>

    <select id="findOrderSignList" resultType="java.util.HashMap">
    select tb_order.order_id as orderId
    from tb_order
    where is_del=0
    and status=5
    and TIMESTAMPDIFF(hour,tb_order.deliver_date, now())/24>7
   </select>

    <select id="findOrderListByNumIdAndConsumerId" resultType="java.util.HashMap">
    select
    tb_order.order_id as orderId,
    tb_order.status as orderStatus,
    tb_order.consumer as consumerId
    from tb_order
    inner join tb_order_item orderItem
    on  tb_order.order_id=orderItem.order_id
    where tb_order.is_del=0
    and tb_order.sku_goods_type=3
    and orderItem.num_id=#{numId}
    and tb_order.consumer=#{consumerId}
    </select>

    <insert id="insertBatch">
        insert into tb_order(
            order_id,
            consumer,
            consumer_name,
            status,
            req_user_agent,
            req_ip,
            add_date,
            order_type,
            shipping_menthod_id,
            shipping_menthod,
            address_id,
            person_name,
            person_tel,
            address,
            notice_shipment_date,
            pay_menthod_id,
            pay_menthod,
            pay_date,
            express_id,
            express_name,
            express_number,
            deliver_date,
            pickup_date,
            sign_type,
            sign_date,
            commission,
            shipping_total,
            sub_total,
            total,
            conment,
            sku_goods_type,
            is_del
        ) values
        <foreach collection="orderList" item="order" separator=",">
            (
            #{order.orderId},
            #{order.consumer},
            #{order.consumerName},
            1,
            #{order.reqUserAgent},
            #{order.reqIp},
            #{order.addDate},
            #{order.orderType},
            #{order.shippingMenthodId},
            #{order.shippingMenthod},
            #{order.addressId},
            #{order.personName},
            #{order.personTel},
            #{order.address},
            #{order.noticeShipmentDate},
            #{order.payMenthodId},
            #{order.payMenthod},
            #{order.payDate},
            #{order.expressId},
            #{order.expressName},
            #{order.expressNumber},
            #{order.deliverDate},
            #{order.pickupDate},
            #{order.signType},
            #{order.signDate},
            #{order.commission},
            #{order.shippingTotal},
            #{order.subTotal},
            #{order.total},
            #{order.conment},
            #{order.skuGoodsType},
            0
            )
        </foreach>
    </insert>

    <update id="orderDelete">
        update tb_order a set a.is_del = 1 where a.id = #{id}
    </update>

    <update id="deleteByOrderid">
        delete from tb_order where order_id = #{orderid};
        delete from tb_order_item where order_id = #{orderid};
    </update>

    <update id="signByOrderid">
        update tb_order a
        set a.sign_type = #{signType},
        a.sign_date= #{signDate},
        a.status= #{status}
        where  a.order_id = #{orderId}
    </update>

    <update id="CancelOrderStatus">
        update tb_order a
        set a.status= #{status}

            ,a.reason =#{reason}
        where  a.order_id = #{orderId}
    </update>

    <select id="getOrderItmeList" resultType="java.util.HashMap">
        select m.item_id item_id,m.order_id order_id,m.goods_id goods_id,m.sku_id sku_id,
        m.num_id num_id,m.num num,m.quantity quantity,m.price price,m.total total,m.is_shipment is_shipment,
        o.sku_goods_type sku_goods_type,o.order_type order_type
        from tb_order_item m ,tb_order o where m.order_id = o.order_id and o.is_del=0
        and m.is_shipment=#{isShipment}
        and m.order_id = #{orderId}
    </select>
    <select id="getOrderItmeCount" resultType="java.util.HashMap">
        select m.sku_id sku_id,m.goods_id goods_id,sum(m.quantity) quantity from tb_order_item m ,tb_order o where m.order_id = o.order_id and o.is_del=0
        and m.is_shipment= #{isShipment}
        and m.order_id = #{orderId}
        GROUP BY m.sku_id,m.goods_id
    </select>

    <select id="getTwoHoursOrderList" resultType="java.util.HashMap">
        select  o.order_id orderid,o.order_type,o.sku_goods_type,.o.ADD_DATE from tb_order o where o.is_del=0
        and o.`status`=1 and o.order_type !=3
        and TIMESTAMPDIFF(MINUTE,o.add_date, now()) &gt;120
    </select>
    <select id="getLastTimePayOrderList" resultType="java.util.HashMap">
        select m.item_id item_id,m.order_id order_id,m.goods_id goods_id,m.sku_id sku_id,
        m.num_id num_id,m.num num,m.quantity quantity,m.price price,m.total total,m.is_shipment is_shipment,
        o.sku_goods_type sku_goods_type,o.order_type order_type,e.title,e.last_pay_time,TIMESTAMPDIFF(MINUTE,e.last_pay_time, now())
        from tb_order_item m ,tb_order o , tb_goods g,tb_ep_sale e
				where m.order_id = o.order_id
				and m.goods_id = g.g_id
				and g.g_active = e.id
				and o.is_del=0 and m.is_shipment=0 and o.`status`=1 and o.order_type=3
				and  TIMESTAMPDIFF(MINUTE,e.last_pay_time, now())>0
    </select>
</mapper>