<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtx.web.mapper.ShareMapper" >
    <select id="findNumShare" resultType="Share">
        select * from tb_share s where s.is_del=0 and s.consumer_id=#{consumer_id} and s.share_num_id=#{num_id}
    </select>

    <select id="queryShareList" resultType="java.util.HashMap">
        select s.id,s.share_num_id,s.share_num,s.share_date,n.city_name,n.net_type,n.tele_type,n.low_consume
        from tb_share s left join tb_num n on s.share_num_id=n.id where s.is_del=0 and s.consumer_id=#{consumer_id}
        order by s.id desc
    </select>

    <select id="countConsumerShare" resultType="java.util.HashMap">
        select count(distinct s.id) share_num,count(nb.id) browse_num
        from tb_share s left join tb_num_browse nb on s.id=nb.share_id and nb.act_type=1
        where s.consumer_id=#{consumer_id}
    </select>

</mapper>