<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrtx.web.mapper.SkuMapper">
    <sql id="col_list">
        a.sku_id as skuId,
        a.g_id as gId,
        a.sku_tob_price as skuTobPrice,
        a.sku_toc_price as skuTocPrice,
        a.sku_is_num as skuIsNum,
        a.sku_sale_num as skuSaleNum,
        a.sku_num as skuNum,
        a.sku_goods_type as skuGoodsType,
        a.sku_repo_goods as skuRepoGoods,
        a.sku_repo_goods_name as skuRepoGoodsName,
        a.`status` as status,
        a.status_text as statusText
    </sql>
    <select id="findSkuInfo" resultType="Sku">
        select
        <include refid="col_list"/>
        from tb_sku a where a.g_id = #{gId}
        order by a.sku_id asc
    </select>

    <select id="getSkuBySkuid" resultType="Sku">
        select
        <include refid="col_list"/>
        from tb_sku a where a.sku_id = #{skuid}
    </select>

    <select id="queryPageList" resultType="Sku">
    </select>

    <select id="queryList" resultType="Sku">
        select
        <include refid="col_list"/>
        from tb_sku a where a.g_id = #{param.gId}
        order by a.sku_id asc
    </select>

    <resultMap id="skuListForOrder" type="java.util.HashMap">
        <result property="skuId" column="sku_id" javaType="java.lang.String"></result>
        <result property="gId" column="g_id" javaType="java.lang.String"></result>
        <result property="skuTobPrice" column="sku_tob_price"></result>
        <result property="skuTocPrice" column="sku_toc_price"></result>
        <result property="skuIsNum" column="sku_is_num"></result>
        <result property="skuSaleNum" column="sku_sale_num"></result>
        <result property="skuGoodsType" column="sku_goods_type"></result>
        <result property="skuRepoGoods" column="sku_repo_goods"></result>
        <result property="skuRepoGoodsName" column="sku_repo_goodsName"></result>
        <result property="skuNum" column="sku_num"></result>
        <result property="gStartTime" column="g_start_time"></result>
        <result property="gEndTime" column="g_end_time"></result>
        <result property="gSellerId" column="g_seller_id" javaType="java.lang.String"></result>
        <result property="gSellerName" column="g_seller_name"></result>
    </resultMap>
    <select id="getSkuListBySkuids" resultMap="skuListForOrder">
        select
            a.*,
            b.g_start_time,
            b.g_end_time,
            b.g_seller_id,
            b.g_seller_name
        from tb_sku a left join tb_goods b on b.g_id = a.g_id
        where a.sku_id in (${skuids})
    </select>

    <insert id="insertBatch">
        insert into tb_sku(
            sku_id,
            g_id,
            sku_tob_price,
            sku_toc_price,
            sku_is_num,
            sku_sale_num,
            sku_num,
            sku_goods_type,
            sku_repo_goods,
            sku_repo_goods_name,status,is_del
        ) values
        <foreach collection="skuList" item="sku" separator=",">
            (
            #{sku.skuId},
            #{sku.gId},
            #{sku.skuTobPrice},
            #{sku.skuTocPrice},
            #{sku.skuIsNum},
            #{sku.skuSaleNum},
            #{sku.skuNum},
            #{sku.skuGoodsType},
            #{sku.skuRepoGoods},
            #{sku.skuRepoGoodsName},
            #{sku.status},
            #{sku.isDel}
            )
        </foreach>
    </insert>

    <update id="skuDelete">
        delete from tb_sku where sku_id = #{skuId}
    </update>

    <update id="deleteSkuByGid">
        delete from tb_sku where g_id = #{gId}
    </update>

    <update id="deleteSkuBySkuids">
        delete from tb_sku where sku_id in (${delSkus})
    </update>

    <update id="updateSkuNum">
        update tb_sku set sku_num = #{skuNum} where sku_id = #{skuId}
    </update>

    <update id="updateSkuStatus">
        update tb_sku set status=#{status},status_text=#{statusText}
        where sku_id = #{skuId}
    </update>

    <update id="updateSku">
        update tb_sku a set
            a.g_id = #{gId},
            a.sku_tob_price = #{skuTobPrice},
            a.sku_toc_price = #{skuTocPrice},
            a.sku_is_num = #{skuIsNum},
            a.sku_sale_num = #{skuSaleNum},
            a.sku_num = #{skuNum},
            a.sku_goods_type = #{skuGoodsType},
            a.sku_repo_goods = #{skuRepoGoods},
            a.sku_repo_goods_name = #{skuRepoGoodsName}
        where a.sku_id = #{skuId}
    </update>

    <select id="findNumStatus" resultType="java.util.HashMap">
    select s.sku_id,m.sku_id,m.`status` from tb_num m ,tb_sku s
    where m.sku_id = s.sku_id
    and  s.g_id= #{gId}
    and m.`status`!=2
    </select>

    <select id="queryStatusList" resultType="Sku">
    select
        <include refid="col_list"/>
        from tb_sku a where a.g_id=#{gId} and a.`status` in(
    <foreach collection="statusArry.split(',')" item="status" separator=",">
        #{status}
    </foreach>
    )
    </select>
    <!--
    <select id="getId" resultType="java.lang.Integer">
      select `nextval`('hk')
    </select>-->
    <update id="updateSkuNumWithDataNum">
        update tb_sku s set s.sku_num=s.sku_num-#{order_amount} where s.sku_num>=#{order_amount} and s.sku_id=#{sku_id}
    </update>

</mapper>